@model Publiceringsverktyg.Models.MatchResultViewModel

@{
    ViewBag.Title = "MatchResultstest";
    
}

<h2>MatchResultstest</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>MatchResultViewModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.MatchLevel)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MatchLevel)
            @Html.ValidationMessageFor(model => model.MatchLevel)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
